# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/package/node_modules
/flask_backend/auth/Lib

#environment variables
/flask_backend/app/.env

#caches
/flask_backend/app/__pycache__
/flask_backend/__pycache__

# production

# misc